<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoApp"
        tools:targetApi="31">

        <!-- Deklaracja usługi NotificationService -->
        <service
            android:name=".NotificationService"
            android:exported="false" />

        <!-- Deklaracja odbiornika AlarmReceiver -->
        <receiver android:name=".AlarmReceiver" android:exported="true"/>

        <receiver android:name=".BootReceiver" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>


        <!-- Deklaracje pozostałych komponentów aplikacji -->
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity android:name=".SettingsActivity"></activity>
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:label="Add book"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="To Do app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
